layout {
    tab name="git" {
        pane {
            borderless true
            command "lazygit"
        }
    }
    tab name="agent" {
        pane {
            borderless true
            command "opencode"
        }
    }
    tab name="editor" {
        pane {
            borderless true
            command "helix"
        }
    }
    tab name="shell" {
        pane borderless=true
    }
    tab name="files" {
        pane {
            borderless true
            command "yazi"
        }
    }
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
}

