.android
.cache
.gnupg
.local
.mozilla
.shh  
.var
Code
Desktop
Documents
Downloads
Music
Pictures
Public
Templates
Videos
.config/jgit
.config/mimeapps.list
.ssh
.thunderbird
Backups
.bash_history
.cargo/.global-cache
.cargo/.package-cache
.cargo/.package-cache-mutate
.cargo/registry
.config/.gsd-keyboard.settings-ported
.config/1Password
.config/BraveSoftware
.config/autostart
.config/chromium
.config/dconf
.config/evolution
.config/gh
.config/go
.config/google-chrome
.config/google-chrome-beta
.config/google-chrome-unstable
.config/gtk-3.0
.config/microsoft-edge-dev
.config/pulse
.config/systemd
.config/vivaldi
.config/vivaldi-snapshot
.config/user-dirs.dirs
.config/user-dirs.locale
.pki
